* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  --turqoise: #4bc1d2;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
    "header header"
    "sidebar main-content"
}

/* Header */

.header {
  grid-area: header;
  background-color: var(--turqoise);
  display: grid;
  align-items: center;
  padding-left: 50px;
}

.logo {
  display: flex;
  gap: 10px;
}

.logo img {
  height: 40px;
  width: auto;
}

.logo p {
  display: grid;
  align-items: center;
  color: #fff;
  font-size: 30px;
}

/* Sidebar */

.sidebar {
  grid-area: sidebar;
  padding: 30px;
  box-shadow: 4px 0px 8px -2px rgba(0, 0, 0, 0.10);
  z-index: 1;
}

.add-book-container {
  display: grid;
  gap: 40px;
}

.input {
  display: grid;
  gap: 10px;
  font-size: 18px;
  font-weight: 400;
}

.input input {
  font-family: inherit;
  font-size: 90%;
  font-weight: 300;
  padding: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
}

.input input:focus {
  outline: 2px solid var(--turqoise);
}

.status-container {
  font-size: 18px;
  font-weight: 400;
  display: flex;
  gap: 8px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--turqoise);
  background-color: CanvasText;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: 2px solid var(--turqoise);
  outline-offset: max(2px, 0.15em);
}

.button-container {
  justify-self: center;
}

.button-container button {
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  padding: 15px 30px;
  align-self: start;
  background-color: var(--turqoise);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.button-container button:focus-visible {
  outline: 2px solid black;
}

.button-container button:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.add-book-container p {
  color: #e31c3d;
  font-weight: 400;
  font-size: 18px;
}
 
/* Main Content */
.main-content {
  grid-area: main-content;
  background-color: #e8e8e8;
  padding: 20px;
}

.content-container {
  padding: 20px;
  background-color: #fff;
  height: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

table {
  table-layout: fixed;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

thead {
  font-size: 18px;
}

th, td {
  padding: 20px;
  border-bottom: 1px solid #d7d7d7;
}

td {
  font-weight: 400;
}

thead th:nth-child(5) {
  width: 10%;
}

.read-status {
  background-color: #fff;
  padding: 10px 30px;
  font-family: inherit;
  font-size: 100%;
  border-radius: 5px;
  color: #e31c3d;
  border: 1px solid #e31c3d;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.read-status:hover {
  transform: scale(1.05);
}

.read {
  color: #2e8540;
  border: 1px solid #2e8540;
}

.remove {
  background-color: #fff;
  border: none;
}

.remove img {
  height: auto;
  width: 30px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.remove img:hover {
  transform: scale(1.05);
}

.remove img:active {
  transform: scale(1.1);
}